.top_navbar{
    margin-top: 5px;
    height: 35px;
    margin-bottom: 15px;
    background-color: #1e181080;
    padding: 5px 0;
}

#mix_top_nav{
    margin: 0 100px;
}

.email, .email_span{
    color: #ffffff;
    font-size: 18px;
}

.nav {
    margin-top: -8px;
    margin-left: -8px;
    width: 100%;
    text-align: center;
}
.affix {
    position: fixed;
    margin-top: -10px;
    background: rgba(0, 4, 8, 0.5);
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    z-index: 1;
}
.nav .con{
    margin: -15px 7%;
}

.nav .logo {
    width: 100%;
    float: left;
    margin-top: 12px;
    width: auto;
    height: auto;
}
.nav .logo img {
    width:85px ;
    height: 81px;
   
}
/* .nav .logo img:hover {
    animation: rotate 0.5s ease-in infinite;
} */
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.nav div.main_list {
    height: 65px;
    float: right;
}
.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}
.nav div.main_list ul #nav_link {
    position: relative;
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 18px;
}
.nav div.main_list ul #nav_link::before{
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.nav div.main_list ul #nav_link:hover{
    color: var(--main-color);
}
.nav div.main_list ul #nav_link:hover::before {
    transform: scaleX(1);
}
/* .nav div.main_list ul #nav_link.active-link{
    color: #ffaa00;
    font-weight: bold; 
} */
.navTrigger {
    display: none;
}

@media (max-width: 480px){
    .top_navbar{
        background: none;
    }    
    .email{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 17px 0;
    }
    .envelope{
        margin-top: 5px;
    }
} 

@media (max-width:768px) {
    .top_navbar{
        background: none;
    }    
    #mix_top_nav .email .envelope{
        font-size: 10px;
    }
    #mix_top_nav .email span{
        margin-top: -10px;
        font-size: 10px;
    }
    #mix_top_nav .social_media{
        display: none;
    }
	.myP {
		padding:2%;
	}
    .email{
        gap: 8px;
        width: 80%;
        margin: 10px auto;
    }
    .affix {
        margin-top: 0;
        height: 48px;
    }
    .nav{
        max-width: 100%;
        margin: 1px 0;
        height: 77px;
    }
    .navTrigger {
        display: block;
    }
    .nav .logo{
   
        margin-top: -52px;
        margin-left: -5%;
    }
    .nav div.main_list {
        position: absolute;
        right: -100%;
        transition: .5s ease;
    }
    .nav div.show_list {
        right: 0;
        transition: .5s ease;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        margin-top: 26px;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 4, 8, 0.788);
        backdrop-filter: blur( 5.5px );
        -webkit-backdrop-filter: blur( 5.5px );
        border: 1px solid rgba(0, 4, 8, 0.18);
        background-position: center right;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: left;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
        /* background-color: #fff; */
    }
    .nav div.main_list ul #nav_link::before {
        top: 55px;
        left: 15px;
        background-color: #ffaa00;
    }
    .nav div.media_button {
        display: block;
    }
}

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
