:root {
  --main-color: #fa0;
  --shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.233);
  --bg-body: #191919;
  --bg-body-gradient: radial-gradient(30% 90% ellipse at bottom center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 100%);
  --bg-body-hover: rgba(33, 33, 33, 1);
  --bg-button: rgba(255, 255, 255, 0);
  --bg-button-hover: rgba(255, 255, 255, 0.05);
  --bg-button-active: rgba(255, 255, 255, 1.0);
  --bg-mask: rgba(255, 255, 255, 0.5);
  --bg-mask-hover: rgba(255, 255, 255, 1.0);
  --border-button: rgba(255, 255, 255, 0.2);
  --border-button-hover: rgba(255, 255, 255, 1.0);
  --color-button: rgba(255, 255, 255, 0.6);
  --color-button-hover: rgba(255, 255, 255, 1.0);
  --color-button-active: var(--body-bg);
  --font-button: "Varela Round", sans-serif;
  --shadow-button-hover: 0 0 0.3125rem rgba(255, 255, 255, 0.8);
  --transition-easing: cubic-bezier(0.19, 1, 0.22, 1);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body{

  background-color: #000408;
}

html{
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  font-size: 10px;
}

::selection{
  background-color: var(--main-color);
  color: #000408;
}

@media (max-width:768px) {
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 92%;
  }
}